%h3 Home (mobile view)
-#- @users.each do |user|
-#  %p
-#    User: #{link_to user.name, user}
-#=@cinemas
-#=collection = options_for_select(ActiveSupport::JSON.decode(@cinemas).map { |b| [b["name"], b["id"]] })
-if current_user
  =form_for "cinelist",url: films_path do |f|
    %h4  Pick Cinema
    =f.select :cinema_id, @cinemas.map {|v| [ v['name'], v['api_id'] ] },{ include_blank: false },{ class: 'chosen-select' }
    %h4  Pick Date
    =f.date_select "date", start_year:  Time.now.year, default: Date.today
    %br
    =f.submit "Get me Movies", class:"button btn"

